:root {
    --cor-primaria: #0b090a;
    --cor-secundaria: #660708;
    --cor-terciaria: #ba181b;
    --cor-do-fundo: #e5383b;
    --cor-de-efeito: #d3d3d3;
    --bordaRaio:0.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-size: 1rem;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.corpo {
    background-color: var(--cor-do-fundo);
    position: static;
    height: 14vh;
    width: 99vw;
    margin: 0.5vh 0.5vw;
    border-radius: var(--bordaRaio);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.corpo__titulo {
    width: 100%;
    height: 65%;
    border-radius: var(--bordaRaio);
    background-color: var(--cor-secundaria);
    display: flex;
    align-items: center;
    justify-content: center;
}

.corpo__menu {
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.corpo__menu__item {
    width: 33%;
    height: 96%;
    border-radius: var(--bordaRaio);
    background-color: var(--cor-terciaria);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-primaria);
    text-decoration: none;
}

.corpo__menu__item:hover {
    background-color: var(--cor-de-efeito);
}
.principal {
    width: 99vw;
    height: 80vh;
    margin: 0 0.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.princ__corpo {
    width: 49.25vw;
    height: 100%;
    border-radius: var(--bordaRaio);
    background-color: var(--cor-terciaria);
}
.princ__corpo__texto{
    padding: var(--bordaRaio);
    text-align: justify;
}
.corpo__principal{
    width: 100%;
    height: 100%;
    border-radius: var(--bordaRaio);
    object-fit: cover;
}
.rodape{
    height: 4vh;
    width: 99vw;
    margin: 0.5vh 0.5vw;
    border-radius: var(--bordaRaio);    
    background-color: var(--altColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

}   